.cart{
  display: flex;
  flex-direction: column;
  .totalTickets{
    margin-top: auto;
  }
}
.iconBox{
  display: flex;
  gap: .6rem;
  align-items: center;
  .badge {
    height: 1.25rem;
    padding: 0 .3rem;
    color: var(--color2);
    background-color: var(--btn-active);
    border-radius: .2rem;
    text-align: center;

    user-select: none;
    transition: background-color var(--transition-duration);
  }
}

.modal{
  display: flex;
  flex-direction: column;
  .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .titleText{
      font-size: 1.3rem;
      font-weight: 900;
    }
  }
  .text{
    margin-top: .5rem;
  }
}