.dropdown {
  display: flex;
  flex-direction: column;
  .title {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    .placeholder{
      font-size: 1.3rem;
      opacity: .4;
    }
    .icon {
      display: block;
    }
  }
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  background-color: (--bg-color1);
}
