.field {
  & + .field {
    margin-top: 1rem;
  }
  .name {
    margin-bottom: 0.5rem;
  }
  .component {
    height: 2.5rem;
    border: 1px solid #e1e3e6;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
  }
}
