.block {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  position: sticky;
  top: 100px;
  .title {
    font-size: 1.2rem;
    font-weight: 900
  }
  .filters {
    display: flex;
    flex-direction: column;
    gap: var(--gap)
  }
}
