.block {
  display: flex;
  gap: var(--gap);
  .leftSide {
    min-width: 400px;
  }

  .rightSide {
    flex: 1;
    .movies {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
    }
  }
}
